/* Add application styles & imports to this file! */
h2.my-header {
  padding: 0.5em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: #fffaf4;/*背景色*/
  border-left: solid 5px #dc3545;/*左線（実線 太さ 色）*/
}